<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zeitdata"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application android:debuggable="true" android:icon="@drawable/zeitdata_mark" android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar" >

        <!-- activities -->
        <activity android:name=".android.activity.WelcomeActivity" android:label="@string/app_name" android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".android.activity.LoginActivity" android:noHistory="true" android:windowSoftInputMode="adjustResize" />



        <!-- services 
        <service android:name=".android.service.DropletQueueingService" android:process=":remote" >
            <intent-filter>
                <action android:name="com.zeitdata.android.service.DropletQueueingService" />
            </intent-filter>
        </service>
	-->

        <!-- receivers
        <receiver android:name=".android.receiver.DropletQueueingServiceReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.ACTION_SCREEN_ON" />
            </intent-filter>
        </receiver>
	-->
    </application>

</manifest>
