<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zeitdata.chart.sample"
    android:versionCode="1"
    android:versionName="1.0-SNAPSHOT" >


    <uses-sdk android:minSdkVersion="8" />


    <application android:debuggable="true" android:icon="@drawable/zeitdata_mark" android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar" >

        <activity android:name="zeitdata.charts.sample.activity.ChartTypesActivity" android:label="@string/app_name"  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="zeitdata.charts.sample.activity.LineChartActivity" />
        <activity android:name="zeitdata.charts.sample.activity.ScatterChartActivity" />


    </application>

</manifest>
